<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div class="jumbotron">
	<h1>Welcome to Logistica!</h1>
	<p>Sign In with any of these options.</p>
</div>
<table>
	<tr>
		<td>
			<ul class="nav navbar-nav">
  			<li><%= link_to 'Twitter', '/auth/twitter' %></li>
			</ul>
		</td>
		<td></td>
		<td></td>
	</tr>
</table>
</body>
</html>